.dashboard-card{
    margin: 5%;
}

.dashboard-card > mat-card-title{
    font-size: small;
}
.info-cards{
    padding: 20px 10px;
    width: 30%;
    margin: 3px;
}

mat-card > .info-cards :hover{
    cursor: pointer !important;
}

.info-cards-holder{
    flex-direction: row;
    flex-wrap: wrap !important;
}

.menu-items > div{
    background-color: aliceblue;
    padding: 2% 1px;
    margin: 10px 0px;
    width: 100%;
}

i{
    margin: 5px;
    padding: 5px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    font-weight: 900;
}

table{
    width: 100% !important;
}

.total{
    font-weight: 700;
    margin: 30px 10px 10px 10px;
}

.total > span {
    padding: 5px 25px;
    font-weight: 900;
    font-size: larger;
    font-style: italic;
    background-color: aliceblue;

}