<div fxLayout="row" fxLayoutAlign="center center" fxFill>
    <mat-card fxLayout="column" fxLayoutAlign="center center">
        <h3> <strong>Accounting App</strong> </h3>
      <form  fxFill>
        <div class="container" fxLayout="column" fxLayoutAlign="center center" fxFill>
  
          <img src="../../../assets/images/calc-logo.png" alt="logo" />
          <h5>Log In as Store Owner</h5>
  
          <input type="email" placeholder="Enter Email" formControlName="email" required>
          <input type="password" placeholder="Enter Password" formControlName="password" required>
          <button (click)="logIn()" mat-raised-button type="submit">
            <i class="fas fa-store"></i> Log in as Store Owner
        </button>

        <button mat-raised-button type="submit">
            <i class="fas fa-hands-helping"></i> Log in as Attendant
        </button>
       
        </div>
  
        <div class="container" fxLayout="row" fxLayoutAlign="space-between" fxFill>
          <a [routerLink]="['/sign-up']" routerLinkActive="router-link-active">No Account? Sign Up Here</a> <br>
          <a [routerLink]="['/forgot-password']" routerLinkActive="router-link-active">Forgot Password?</a>
        </div>
      </form>
  
    </mat-card>
  
  </div>