<div>
    <mat-card class="dashboard-card">
        <mat-card-title>Store Name</mat-card-title>
        <div class="info-cards-holder" fxLayout="row" fxLayoutAlign="space-between">
            <mat-card class="info-cards">Cash In hand</mat-card>
            <mat-card class="info-cards"> Sales</mat-card>
            <mat-card class="info-cards">My Account</mat-card>
        </div>

        <div class="menu-items">
            <div>Products Set up</div>
            <div>Sales Manager</div>
            <div>Profit/Expense Manager</div>
            <div>Cash Flow Manager</div>
        </div>
    </mat-card>
</div>
