/* Bordered form */
form {
    margin: 5%;
    width: 75%;
  }
  .google-btn{
  background-color: #4285F4;
  margin-left: 5px;
  color: white !important;
  }
  
  .google-btn img{
  border-radius: 50%;
  width: 20px;
  height: 20px;
  }
  
  
  mat-card{
    width: 400px;
    margin: 5px;
  }
  i{
    margin: 2%;
  }
  
  label, b{
      font-size: smaller;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    box-sizing: border-box;
    background-color: rgb(237, 250, 255);
  }
  
  /* Set a style for all buttons */
  button {  
    padding: 7px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 2%;
    font-size: 12px;
    margin-top: 4px;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  /* Add padding to containers */
  .container {
    padding: 16px;
  }
  
  
  
  // logo
  img{
    width: 65px;
    height: 65px;
  }
  
  a{
    color: black;
    font-size: 12px;
  }

  .second-name-input, .first-name-input{
      width: 48% !important;
  }