<div fxLayout="row" fxLayoutAlign="center center" fxFill>
    <mat-card fxLayout="column" fxLayoutAlign="center center">
        <h3> <strong>Accounting App</strong> </h3>
        <form [formGroup]="signUpForm"  fxFill>
            <div class="container" fxLayout="column" fxLayoutAlign="center center" fxFill>
                <img src="../../../assets/images/calc-logo.png" alt="logo" />
                <h5>Sign Up</h5>
                <div fxLayout="row" fxLayoutAlign="space-between" fxFill>
                    <input class="first-name-input" type="text" placeholder="Enter First Name"
                        formControlName="firstName" required>
                    <input class="second-name-input" type="text" placeholder="Enter Second Name"
                        formControlName="secondName" required>
                </div>

                <input type="email" placeholder="Enter Email" formControlName="email" required>

                <input type="password" placeholder="Enter Password" formControlName="password" required>

                <input type="text" placeholder="Enter Store Name" formControlName="store_name" required>

                <input type="text" placeholder="Enter Type of Store" formControlName="store_type" required>

                <button mat-raised-button type="submit" (click)="signUp()">
                    <i class="fas fa-store"></i> Sign up as Store Owner
                </button>

                <!-- <button mat-raised-button type="submit">
                    <i class="fas fa-hands-helping"></i> Sign up as Attendant
                </button> -->
            </div>

            <div class="container">
                <a [routerLink]="['/log-in']" routerLinkActive="router-link-active">Already have an account? Log In
                    here</a>

            </div>

        </form>
    </mat-card>
</div>